In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import summarizer_data_utils

# Load Data

In [2]:
suckhoe = pd.read_csv(r'data/SucKhoe_GD02.csv', encoding='utf-8')

In [3]:
suckhoe.head()

,title,link,time,content,sumary,author
0,Bé sơ sinh bị mẹ nhiễm HIV bỏ rơi tại viện,https://suckhoe.vnexpress.net/tin-tuc/suc-khoe...,"Thứ bảy, 8/9/2018, 08:38 (GMT+7)","Bị mẹ bỏ rơi, các bác sĩ ở Bệnh viện Trưng Vươ...",Bé trai mới sinh tay chân run rẩy do ảnh hưởng...,Lê Phương
1,Ngôi làng nhiều người sống thọ nhất thế giới,https://suckhoe.vnexpress.net/tin-tuc/suc-khoe...,"Thứ bảy, 8/9/2018, 05:03 (GMT+7)","Theo các nhà nghiên cứu về tuổi già, ngoài Sar...",Hòn đảo Sardinia ở Italy được coi là một trong...,Thúy Quỳnh
2,10 bác sĩ mổ tim cứu bé sinh non nặng 600,https://suckhoe.vnexpress.net/tin-tuc/suc-khoe...,"Thứ bảy, 8/9/2018, 00:03 (GMT+7)","Sau tuần điều trại tích cực, em bé đã ngưng đi...","Bé chào đời sớm tháng, chỉ nhỏ bằng bàn tay, đ...",Lê Phương
3,Cụ ông ung thư được ăn kem trước khi qua đời,https://suckhoe.vnexpress.net/tin-tuc/suc-khoe...,"Thứ bảy, 8/9/2018, 10:07 (GMT+7)",Ông Ron McCartney (Australia) đã không ăn uống...,"Lần cuối cùng tới viện, ông Ron McCartney được...",Phúc Lương
4,Tăng mức xử phạt vi phạm an toàn thực phẩm,https://suckhoe.vnexpress.net/tin-tuc/suc-khoe...,"Thứ bảy, 8/9/2018, 16:35 (GMT+7)",Nghị định xử phạt vi phạm hành chính về an toà...,"Sản xuất, chế biến thực phẩm từ động vật chưa ...",Nam Phương

In [4]:
suckhoe = suckhoe[['content','sumary']]

In [5]:
suckhoe.isnull().sum()

content    0
sumary     0
dtype: int64

In [6]:
len(suckhoe)

26373

In [7]:
kinhdoanh = pd.read_csv(r'data/KinhDoanh_GD02.csv',encoding='utf-8')

In [8]:
kinhdoanh=kinhdoanh[['content','sumary']]

In [9]:
kinhdoanh.isnull().sum()

content    0
sumary     0
dtype: int64

In [10]:
len(kinhdoanh)

25183

In [11]:
giaitri = pd.read_csv(r'data/GiaiTriThoiTrang_GD02.csv',encoding='utf-8')

In [12]:
giaitri = giaitri[['content','sumary']]

In [13]:
giaitri.isnull().sum()

content    0
sumary     0
dtype: int64

In [14]:
len(giaitri)

20469

In [15]:
thethao = pd.read_csv(r'data/TheThao_GD02.csv',encoding='utf-8')

In [16]:
thethao = thethao[['content','sumary']]

In [17]:
len(thethao)

13400

In [18]:
thoisu = pd.read_csv(r'data/ThoiSuVaTheGioi_GD02.csv',encoding='utf-8')

In [19]:
thoisu = thoisu[['content','sumary']]

In [20]:
thoisu.isnull().sum()

content      0
sumary     487
dtype: int64

In [21]:
thoisu = thoisu.dropna()

In [22]:
thoisu.isnull().sum()

content    0
sumary     0
dtype: int64

In [23]:
len(thoisu)

11185

In [24]:
data = pd.concat([thoisu,thethao,giaitri,suckhoe,kinhdoanh])

In [69]:
train_data.head()

,Summary,Text
0,Tay vợt người Tây Ban Nha giành chiến thắng 7-...,Nadal ăn mừng chiến thắng kịch tính trước Wawr...
1,Chiếc tàu ngầm hạt nhân chiến lược lớp Borey t...,Tàu ngầm hạt nhân Alexander Nevsky. Ảnh: RIA N...
2,Một nghiên cứu mới chỉ ra quan hệ tình dục làm...,Kết luận được đăng tải trên tờ Journal of Heal...
3,"Ines Ramires, 40 tuổi, ở làng Rio-Telea hẻo lá...",Người hàng xóm Leon đã suýt chết ngất khi ghé ...
4,Hãng đánh giá tín dụng Moody’s vừa nâng một bậ...,Trần tín nhiệm với trái phiếu dài hạn phát hàn...

96610

In [27]:
data.rename(index = str, columns = {'sumary':'Summary', 'content':'Text'}, inplace = True)

In [28]:
data = data[['Summary', 'Text']]

In [29]:
data.head()

,Summary,Text
0,Cậu bé 11 tuổi ở Trung Quốc đang được cấp cứu ...,Một bé trai có bố mẹ đi làm ăn xaở vùng nông t...
1,Một công ty dân sự Trung Quốc thử nghiệm thành...,Hình ảnh mô phỏng tiêm kích J-31 Trung Quốc ph...
2,Thiết bị siêu vượt âm của Trung Quốc tách thàn...,Global Times ngày 5/8 đăng video cho thấy Viện...
3,Công dân họ Pyo hôm qua được Triều Tiên trao t...,Binh sĩ Hàn Quốc canh gác tại khu vực biên giớ...
4,Quan điểm của Tổng thống Mỹ là lệnh trừng phạt...,Lãnh đạo Triều Tiên (trái) và Tổng thống Mỹ tạ...

# chia dữ liệu để train, val, test

In [ ]:
from sklearn.utils import shuffle
df = shuffle(data)
df = df.reset_index(drop=True)
len_data_train = int(len(df)*0.9)
train_data =  df[:len_data_train]
test_data = df[len_data_train:int(len(df)*0.95)]
val_data = df[int(len(df)*0.95):]

# Process data

In [72]:
texts_unprocessed = train_data.Text
summaries_unprocessed = train_data.Summary

In [36]:
x1 = texts_unprocessed[0:10]

In [39]:
stopwords  = pd.read_csv(r"vietnamese-stopwords.txt",header=None)

In [40]:
sumword = [i for i in stopwords[0]]

In [73]:
processed_texts, processed_summaries, word_counts = summarizer_data_utils.preprocess_texts_and_summaries(
    texts_unprocessed,
    summaries_unprocessed,
    sumword
    )

Processing Time:  898.134126663208

# Train and val